{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

 <ul>
    {% for user in users %}
        
     <li> {{ user.lastname }} {{ user.firstname }}</li>
    {% endfor %}

 </ul>
{% endblock %}
